 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>Julian Gentges is a Software Engineering student based in Berlin. He loves to create APIs in the Swift programming language.</p>
                </div>
                <div class="col-lg-4">
                    <p></p>
                </div>
            </div>
        </div>
    </section>
